    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">XXX</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'index' %}">首页</a></li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">XXXX<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'appview' %}">XXXX</a></li>
                  <li><a href="#">XXXX</a></li>
                  <li><a href="#">XXXX</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">XXXX</li>
                  <li><a href="#">XXXX</a></li>
                </ul>
              </li>
              
              
              <li><a href="#">XXXX</a></li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他工具<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">XXXXXX</a></li>
                  <li><a href="#">XXXXX</a></li>
                </ul>
              </li>
              <li><a href="#">XXXX</a></li>
              
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <!-- 根据不同的登录状态判断 -->
                  <li><a href="#">XXXX</a></li>
                  <li><a href="#">XXXX</a></li>
            </ul>
          </div><!--/.nav-collapse -->
  
        </div>
      </nav>